<h1 class="title" *ngIf="langService.isFr">Mes projets</h1>
<h1 class="title" *ngIf="langService.isEn">My Projects</h1>

<p id="description" *ngIf="langService.isFr">
  Voici une sélection de mes travaux, mêlant recherche algorithmique, conception système et projets open source.
</p>
<p id="description" *ngIf="langService.isEn">
  Here is a selection of my work, combining algorithmic research, systems design, and open-source projects.
</p>

<!-- Category Filter Pills -->
<div class="category-filters">
  <button
    *ngFor="let cat of categories"
    class="filter-btn"
    [class.active]="selectedCategory === cat.key"
    (click)="setCategory(cat.key)"
    type="button">
    {{ langService.isFr ? cat.labelFr : cat.labelEn }}
  </button>
</div>

<div id="projectsContainer">
  <div class="card" *ngFor="let project of filteredProjects">
    <div>
      <div class="card-header">
        <div class="card-header-left">
          <span class="category-badge">
            {{ langService.isFr ? project.categoryFr : project.categoryEn }}
          </span>
          <h3 class="card-title">
            {{ langService.isFr ? project.titleFr : project.titleEn }}
          </h3>
        </div>

        <div class="card-icon-container">
          <img
            *ngIf="project.iconType === 'img'"
            class="card-icon"
            [ngClass]="project.iconClass || ''"
            [src]="project.icon"
            [alt]="project.titleFr">
          <span *ngIf="project.iconType === 'emoji'" class="card-emoji-icon">{{ project.iconEmoji }}</span>
          <svg
            *ngIf="project.iconType === 'svg'"
            class="card-icon-svg"
            focusable="false"
            viewBox="0 0 24 24"
            aria-hidden="true">
            <path
              d="M17.5 4.5c-1.95 0-4.05.4-5.5 1.5-1.45-1.1-3.55-1.5-5.5-1.5-1.45 0-2.99.22-4.28.79C1.49 5.62 1 6.33 1 7.14v11.28c0 1.3 1.22 2.26 2.48 1.94.98-.25 2.02-.36 3.02-.36 1.56 0 3.22.26 4.56.92.6.3 1.28.3 1.87 0 1.34-.67 3-.92 4.56-.92 1 0 2.04.11 3.02.36 1.26.33 2.48-.63 2.48-1.94V7.14c0-.81-.49-1.52-1.22-1.85-1.28-.57-2.82-.79-4.27-.79zM21 17.23c0 .63-.58 1.09-1.2.98-.75-.14-1.53-.2-2.3-.2-1.7 0-4.15.65-5.5 1.5V8c1.35-.85 3.8-1.5 5.5-1.5.92 0 1.83.09 2.7.28.46.1.8.51.8.98v9.47z"></path>
            <path
              d="M13.98 11.01c-.32 0-.61-.2-.71-.52-.13-.39.09-.82.48-.94 1.54-.5 3.53-.66 5.36-.45.41.05.71.42.66.83-.05.41-.42.71-.83.66-1.62-.19-3.39-.04-4.73.39-.08.01-.16.03-.23.03zM13.98 13.67c-.32 0-.61-.2-.71-.52-.13-.39.09-.82.48-.94 1.53-.5 3.53-.66 5.36-.45.41.05.71.42.66.83-.05.41-.42.71-.83.66-1.62-.19-3.39-.04-4.73.39-.08.02-.16.03-.23.03zM13.98 16.33c-.32 0-.61-.2-.71-.52-.13-.39.09-.82.48-.94 1.53-.5 3.53-.66 5.36-.45.41.05.71.42.66.83-.05.41-.42.7-.83.66-1.62-.19-3.39-.04-4.73.39-.08.02-.16.03-.23.03z"></path>
          </svg>
        </div>
      </div>

      <p class="card-desc">
        {{ langService.isFr ? project.descFr : project.descEn }}
      </p>
    </div>

    <div class="card-footer">
      <!-- Tech Icons with tooltip -->
      <div class="card-techs">
        <span
          *ngFor="let tech of project.techs"
          class="tech-badge"
          [attr.title]="tech.name"
          [attr.aria-label]="tech.name">
          <img
            class="tech-icon"
            [ngClass]="{'invert-dark': tech.invertDark}"
            [src]="tech.icon"
            [alt]="tech.name">
        </span>
      </div>

      <!-- Links / Tags -->
      <div class="card-links">
        <span *ngIf="project.linksPrefix" class="divider">{{ project.linksPrefix }}</span>
        <ng-container *ngFor="let link of project.links; let isLast = last">
          <a [href]="link.url" target="_blank">{{ langService.isFr ? link.labelFr : link.labelEn }}</a>
          <span *ngIf="!isLast" class="divider">|</span>
        </ng-container>
        <span *ngIf="project.tagFr" class="academic-tag">
          {{ langService.isFr ? project.tagFr : project.tagEn }}
        </span>
      </div>
    </div>
  </div>
</div>
