<div id="footer">
  <div class="footer-left">
    <span *ngIf="langService.isFr">&copy; 2026 Arnaud ALET. Site pensé et réalisé dans son intégralité.</span>
    <span *ngIf="langService.isEn">&copy; 2026 Arnaud ALET. Site designed and built entirely.</span>
  </div>
  <div class="footer-right">
    <a href="mailto:arnaud.alet@arnaud-dev.fr">arnaud.alet@arnaud-dev.fr</a>
    <span class="divider">|</span>
    <a href="https://github.com/arnauda-gh/arnaud-dev/blob/main/LICENSE" target="_blank" *ngIf="langService.isFr">Licence GPLv3</a>
    <a href="https://github.com/arnauda-gh/arnaud-dev/blob/main/LICENSE" target="_blank" *ngIf="langService.isEn">GPLv3 License</a>
  </div>
</div>
